.mdl-spinner__layer-1 {
    border-color: #E81123 !important;
}
.mdl-spinner__layer-2 {
    border-color: #E81123 !important;
}
.mdl-spinner__layer-3 {
    border-color: #E81123 !important;
}
.mdl-spinner__layer-4 {
    border-color: #E81123 !important;
}